{{>header}}

<div class="row">
    <div class="col-8">
        <h1>About this Project</h1>
        <p>Este es aboutttttttttttttttt</p>
    </div>
    <div class="col-4">
        <img src="assets/img/w4_22316_1.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}